@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width:800px){

    .hamburger_ul{
        display: none;
        height: 100vh;
        position: fixed;
        /* top: 0; */
        /* right: 0; */
        /* left: 0; */
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: top 1s ease;

    }
}